<div class="d-flex center">
    <mat-card class="blurred-box">
        <div class="card-content d-flex">
            <a class="home-button" routerLink="/albuns">
                <mat-icon>collections_bookmark</mat-icon>
                <span>álbuns</span>
            </a>
            <a class="home-button" routerLink="/postagens">
                <mat-icon>library_books</mat-icon>
                <span>postagens</span>
            </a>
            <a class="home-button" routerLink="/to-dos">
                <mat-icon>library_add_check</mat-icon>
                <span>to-do's</span>
            </a>
        </div>
    </mat-card>
</div>