<app-body>
    <a mat-fab routerLink="/albuns/lista" class="back-btn" color="primary">
        <mat-icon>undo</mat-icon>
    </a>
    <div class="header-content">
        <div class="list-title">
            <h2>{{ pageTitle }}</h2>
        </div>
    </div>
    <div class="body-content">
        <form [formGroup]="resourceForm" (submit)="submitForm()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-body">
                        <div class="">
                            <mat-form-field class="example-full-width d-block">
                                <mat-label>Título do Álbum</mat-label>
                                <input type="text" matInput formControlName="title">
                            </mat-form-field>
                        </div>
                        <div class="form-options">
                            <button mat-flat-button color="primary" type="submit" [disabled]="submittingForm || resourceForm.invalid">
                                Salvar
                            </button>
                            <button mat-stroked-button color="primary" type="button" (click)="gerarImagem()">
                                Adicionar Imagem
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-body row">
                        <ng-container *ngFor="let photo of photos">
                            <div class="col-md-4">
                                <mat-card id="{{photo.id}}">
                                    <img src="{{photo.thumbnailUrl}}" style="width: 100%;" alt="">
                                    <button mat-mini-fab color="primary" type="button" (click)="deletePhoto(photo)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </form>
    </div>

</app-body>