<div class="header">

    <div class="title">
        <h1>Framework Project</h1>
    </div>
    <div class="links d-flex">
        <a mat-button routerLink="inicio" routerLinkActive="active">
            <mat-icon inline=true>home</mat-icon>Início
        </a>
        <a mat-button routerLink="albuns" routerLinkActive="active">
            <mat-icon inline=true>collections_bookmark</mat-icon>Albuns
        </a>
        <a mat-button routerLink="postagens" routerLinkActive="active">
            <mat-icon inline=true>library_books</mat-icon>Postagens
        </a>
        <a mat-button routerLink="to-dos" routerLinkActive="active">
            <mat-icon inline=true>library_add_check</mat-icon>To-do's
        </a>
    </div>
</div>